.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper h3 {
  text-align: center;
}

.product-list {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.button {
  background-color: #6366f1 !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  transition: background 0.3s ease-in-out;
  width: 200px !important;
  align-self: flex-end;
}
