.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.textarea:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.button {
  background-color: #6366f1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background-color: #4f46e5;
}
